__pycache__/
*.py[cod]
.pytest_cache/
build/
dist/
*.egg-info/

ui/node_modules/
ui/dist/
ui/src-tauri/target/
ui/src-tauri/gen/
ui/src-tauri/binaries/*
!ui/src-tauri/binaries/.gitkeep
ui/src-tauri/icons/android/
ui/src-tauri/icons/ios/
ui/src-tauri/icons/64x64.png
ui/src-tauri/icons/Square*.png
ui/src-tauri/icons/StoreLogo.png
